body{
  background-color:rgba(255, 251, 248, 0.73);
  margin: 0;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color:rgb(40, 40, 40)
}

/*navigation bar*/
.navbar{
  display: block;
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  margin-left: auto;
  margin-right: auto;
 /*margin-bottom: 40px;*/
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  top: 0;

}
.button{
  padding: 10px;
  margin: 0;
  text-decoration: none;}
.active{
  background-color: rgba(229, 176, 126, 1);
  color: black;}
.inactive{
  background-color: none;
  color: black;}
.button:hover{
  background-color: rgba(229, 176, 126, 0.5);}

.topbar_bg_color{
  background-color: rgb(229,176,126);
}
.full_width{
  width: 100%;
}
.front_img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/*footer*/
footer{
  background-color: rgb(179, 80, 0);
  padding-bottom: 50px;
  color: rgb(240, 240, 240);
  font-size: 18px;
}
.footer_flex{
  width: 50%;
}

.footer_img{
  display: block;
  padding-bottom: 10px;;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 100px;
}

.footer_link{
  color: rgb(240, 240, 240);
}

/*annet*/
h1 {
  font-family: Sacramento, sans-serif;
  font-size: 50px;
}

.div_border{
  border-style: solid;
  border-width: 2px;
}


.center_content{
  margin: auto;
  width: 50%;
  /*margin-bottom: 1em;*/
  min-width: 650px;
}

.center_content2{
  text-align: center;
}

.flex{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: -webkit-flex; /*Safari*/
}

.flex_image{
  display: inline-flex;
  display: -webkit-flex; /*Safari*/
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  
}
.rotate5deg{
  transform: rotate(5deg);
}
.rotate-5deg{
  transform: rotate(-5deg);
}

/*for index.html*/
.innhold{
  padding: 10px 30px 30px 30px;
}
.info{
  width:100%;
  
}
.info_bilde{
  width: 60%;
}
.info_header{
  margin-top: 0;
  padding-top: 0;
}

.front_bg{
  background-image: url("./bilder/bannerbilde.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;

}
.bannerbox{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.55);
  min-height: 400px;
}

/*index.html done*/
/*Mainly for furry_kunst.html*/
.furryXart_bg{
  background-image: url("./bilder/vozzy_violin_art.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
}

/*furry_kunst.html done*/
/*Mainly for om_oss.html*/
.board_pfp{
  height: 120px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 10px 20px;
}
.board_box{
  min-height: 120px;
}
/*om_oss.html done*/
.image{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 450px;
}

.pictures{
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  display: flex;
}
.board_header{
  margin: 10px;
}
.board_p{
  margin: 10px 0 20px 0;
}

.contentbox{
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 25px;
  padding: 20px;
  color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.75);
}

.word_descrption{
  text-decoration: underline dotted;
}

.quote{
  font-style: italic;
}

.animate-top{
  position:relative;
  animation:animatetop 1s;
}

.animate-top-logo{
  position:relative;
  animation:animatetop 1s;
  /*animation-delay: 1s;*/  
}
@keyframes animatetop{
  from{top:-100px; opacity:0} to{top:0;opacity:1}
}

/*other media under here*/

@font-face {
  font-family: Sacramento;
  src: url(./font/SansitaOne.ttf);
}

  @media screen and (max-width:1150px) {
    .front_bg{
      background-size: 1150px;
    }
  }
  /*tablet screen*/
  @media screen and (max-width: 760px) {
    body {
      /*background-color: blueviolet;*/
    }
    h1 {
      font-size: 30px;
    }

    /*navigation bar*/
    .front_img{
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
    }
    /*navigation bar end*/
    /*footer*/
    .footer_flex{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    /*footer end*/

    .center_content{
      margin: auto;
      width: 90%;
      min-width: auto;
    }
    .flex{
      flex-direction: column;
    }
    
    .innhold{
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
    .info{
      width: 100%;
    }
    .image{
      min-width: 400px;
    }
    
    .front_bg{
      background-size: 900px;
    }
    
  }
  /*Phone screen*/
  @media screen and (max-width: 480px) {
    body {
     /* background-color: lightgreen;*/
      font-size: 1em;
   }
   h1 {
    font-size: 25px;
  }
   p, h1, h2, h3{
    margin-left: 5px;
    margin-right: 5px; 
   }
    /*navigation bar*/
    .front_img{
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }
    .navbar{
      font-size: 1em;
    }
    /*navigation bar end*/
    .center_content{
      margin: auto;
      width: 100%;
   }

   .innhold{
      padding: 10px 0px 30px 0px;
    }
    p {
      padding: 10px 3px 30px 3px;
    }

    .innhold_aktuelt{
      margin-top: 10px;
      padding: 0 10px 30px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .image{
      width: 100%;
      min-width: 0;
    }
    .board_pfp{
      margin: 0 5px 10px 5px;
      height: 100px;
    }
    
    .front_bg{
      background-size: 700px;
    }

    .contentbox{
      background-color: rgba(255, 255, 255, 0.87);
      border-radius: 0;
      padding: 0;
      color: black;
      box-shadow: 0 0 0 0;
    }

  }